
.contact-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.contact-container h1{
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    color: rgba(14, 118, 4, 0.893);
}

.form{
    display: block;
    gap: 2rem;
    padding: 2vw;
    width: 95%;
    max-width: 700px;
    border-radius: 1.5rem;
    height: fit-content;
    transition: 1s;
}

.form input, .form textarea{
    border: 0;
    margin: 10px 0;
    padding: 15px;
    outline: none;
    border-bottom: 3px solid rgba(14, 118, 4, 0.893);
    font-size: 15px;
    width: 100%;
    border-radius: 2rem;
}

.form button{
    padding: 5px;
    background-color: transparent;
    color: black;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    width: 100px;
    margin: 0 auto 0;
    border-radius: 10px;
    box-shadow: inset 0 0 1px 0 rgba(14, 118, 4, 0.893);
    transition: color 0.3s ease-in-out, box-shadow .3s ease-in-out;
}

.form button:hover{    
    cursor: pointer;
    color: white;
    box-shadow: inset 0 0 0 200px rgba(14, 118, 4, 0.893);
    border: 3px solid transparent;
}

.form textarea{
    resize: none;
}



@media screen and (max-width:360px) {
    .form:hover{
        transform: 0;
    }
    .submit{
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .form{
        gap: 1rem;
    }
    .contact-parent{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .form{
        gap: 1rem;
    }
    .contact-parent{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

