
.Home-Container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
  
  .Home-Container img{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: inherit;
  }
  
  .HomeHeader h1{
    font-size: 3.2rem;
    margin-top: -5rem;
    font-family: 'Carter One', cursive;
    font-weight: lighter;
  }

  .HomeBody{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
  }

  .SignInSignUp{
    display: flex;
    gap: 3rem;
  }

  .SignInSignUp h5{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: black;

  }

  .HomeBody h4{    
    background-color: rgba(14, 118, 4, 0.829);
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    color: white;
  }
  
  .HomeHeader h4{
    font-size: 30px;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .BookBtn{
    background-color: salmon;
    width: fit-content;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .BookBtn a{
    text-decoration: none;
    color: black;
  }
  