.LoginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Duplicate{
    display: none;
}

.cover{
    padding: 50px;    
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgba(14, 118, 4, 0.893);
    padding: 3rem;
    align-items: center;
    justify-content: center;
}

.otherLogin{
    padding: 3rem;
}

.otherLogin p{
    margin: 0;
}

.otherLogin p span{
    cursor: pointer;
    color: tomato;
}

.BtnSubmit{
    width: 100%;
}

.BtnSubmit:hover{
    background-color: rgba(14, 118, 4, 0.893);
}