.Products-main-container{
  padding: 5rem;
}

.CardBody{
  text-align: center;
}

.Product-view{
  display: flex;
  gap: 5rem;
}

.CardBox{
  cursor: pointer;
}

.CardBody:hover{
  background-color: rgba(14, 118, 4, 0.541);
  color: white;
}